* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body{
    background-color: rgba(18, 15, 48);
    color: white;
}

.presentacion{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.presentacion h1{
    position: relative;
    top: 200px;
    font-size: 50px;
}

.presentacion span{
    position: relative;
    top: 200px;
    font-size: 30px;
    font-style: italic;
}

.html_tables {
    position: absolute;
    display: inline-block;
    top: 50px;
    left: 600px;
    height: 500px;
    width: 700px;
}

.html_tables h2 {
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 50px;
}

.html_tables table {
    position: relative;
    top: 100px;
    left: 50px;
}

table, td {
    border: 2px solid black;
}

th {
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    font-size: 20px;
}

td{
    font-size: 20px;
    background-color: rgba(18, 15, 48, 0.8);
    padding-left: 10px;
    padding-right: 20px;
}

footer
{
    text-align: center;
    position: relative;
    top: 600px;
    font-style: italic;
}

